.carousel {
  max-height: calc(100% - 56px);
  overflow-y: hidden;
}

.carousel .carousel-item {

  max-height: calc(100% - 56px);
}

#map {
    
    height: 200px;
    /* The height is 400 pixels */
    width: 85%;
    /* The width is the width of the web page */
  }